NEWS_API_KEY=replace_with_your_newsapi_key
NEWS_LOOKBACK_DAYS=7
SENTIMENT_MODEL=mrm8488/distilroberta-finetuned-financial-news-sentiment-analysis
V2_SENTIMENT_MODEL=neoyipeng/ModernFinBERT-base
NEWS_DOMAINS=bloomberg.com,reuters.com,wsj.com,cnbc.com,ft.com,forbes.com,marketwatch.com,businessinsider.com,fool.com,investopedia.com,finance.yahoo.com,economist.com,thestreet.com,nasdaq.com,morningstar.com,investing.com,seekingalpha.com,cnbctv18.com,moneycontrol.com
NEWS_API_URL=https://newsapi.org/v2/everything
